@import "../data/theme.css";

.square {
    width: 100%;
    height: 100%;
    border-color: var(--color-border);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: min(2.5vw,2rem);
    cursor: pointer;
    user-select: none;
}

.square-inside {
    transition-duration: 0.2s;
    width: 95%;
    height: 95%;
    border-radius: 10%;
    border-width: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-square);
}

span {
    border-radius: 10px;
    max-width: calc(100%);
    max-height: calc(100%);
    font-weight: bold;
    color: whitesmoke;
    text-align: center;
}
.square:hover > * {
    filter: brightness(1.1);
    width: 100%;
    height: 100%;
}

.square:active > * {
    filter: brightness(0.8);
    width: 90%;
    height: 90%;
}

.active span {
    mix-blend-mode: multiply;
    color: deeppink;
    text-shadow: 2px 2px 1.8px white;
}

.active {
    background: linear-gradient(60deg, var(--gradient-1) 0%,var(--gradient-2) 20%,var(--gradient-3) 40%,var(--gradient-4) 60%,var(--gradient-5) 80%,var(--gradient-1) 100%);
    background-size: 700% 100%;
    animation: gradient 20s linear infinite;
    animation-direction: alternate;
}

@keyframes gradient {
    0% {background-position: 0}
    100% {background-position: 100%}
}