.alert-container {
    position: fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000B0;
}

p {
    font-size: 4rem;
    font-family: sans-serif;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.bouncing {
    animation: bouncing 3s linear infinite;
    animation-direction: normal;
    margin-right: 2px;
}

@keyframes bouncing {
    0% {
    font-size: 4rem;
        color: red;
    }

    33% {
        font-size: 5rem;

        color: yellow;}
    66% {
        font-size: 6rem;

        color: green;}
    100% {
        font-size: 4rem;
        color: red;
    }

}