@import "data/theme.css";

.header {
    font-size: 1.5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
}

.app {
    height: 100vh;
    width: 100vw;
}

.button {
    margin-right: 2rem;
}