:root {
    --color-border: #00abff;
    --color-background-1: #531bec;
    --color-background-2: #ea8636;
    --color-square: #e0baba;

    --gradient-1: #db6565;
    --gradient-2: #dde92e;
    --gradient-3: #107c3b;
    --gradient-4: #8ebbff;
    --gradient-5: #db3cff;
}

